.background {
    background-image: url('https://th.bing.com/th/id/R.9a368cb78919856e66c9721553bd0371?rik=X5HtznK%2f2Rrr8Q&riu=http%3a%2f%2f1.bp.blogspot.com%2f-QesK5maeoAs%2fUnjCjsWFzNI%2fAAAAAAAABHA%2fdcrab5U-kC0%2fs1600%2f18.%2bStockholm%2bPublic%2bLibrary%2b-%2b2.jpg&ehk=nnpm5jEL2xnhTdQae6Jci8Y3caPy2zhOZ0vEkibCy%2b8%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    position: inherit;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    /* padding: 10%; */
    max-width: 30%;
    max-height: 40%;
    width: 100%;
    height: 100%;
    padding: 2% 2% 2% 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.book-search {
    background-color: rgba(255, 255, 255, 0.8);
    width: 75%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    height: 50px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: center;
}


.customButton:hover {
    background-color: #0056b3;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sapMGT {
    width: 200px;
    height: 200px;
    margin: 20px;
}
/* Custom CSS for table */
.myTable {
    width: 100%;
  }
  
  .myTable th, .myTable td {

    border: 1px solid #ddd;
    text-align: left; /* Ensure content is left-aligned */
  }
  
  .myTable th {
    background-color: #f3f3f3;
    font-weight: bold;
  }
  
  .myTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .myTable tr:hover {
    background-color: #cfcdcd;
  }
  